<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">HCMS</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/"><i class="fas fa-home" style="font: normal normal normal 14px/1 FontAwesome;"></i>Home</a></li>
      <li class=""><a href="/about-us">About Us</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Facilities<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/viewdoctorlist">Our Doctor</a></li>
          <li><a href="/newappointment">Book Appointment</a></li>
          <li><a href="/ambulance">Ambulance</a></li>
          <li><a href="/available_bed">Available Bed</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Sign In<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/signin">User</a></li>
          <li><a href="/doctor/signin">Doctor</a></li>
          <li><a href="/staff/signin">Staff</a></li>
          <li><a href="/admin/signin">Admin</a></li>
          <li><a href="/forgot-password">Forget Password</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Health Tips<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/health-tips">Health Tips</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Visitors<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/welcome-notes">Welcome Notes</a></li>
          <li><a href="/visiting-hours">Visiting Hours</a></li>
          <li><a href="/parking">Parking</a></li>
          <li><a href="/cafeteria">Cafeteria</a></li>
          <li><a href="/location">Location</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Diagonostic<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/diagonostic">Test list & Report delivery centre</a></li>
        </ul>
      </li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Medicine<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/pharmacy">Pharmacy details</a></li>
          <li><a href="/medicine-list">Medicine List</a></li>
        </ul>
      </li>
      <li class="dropdown"><a href="/contact-us">Contact Us</a>
      </li>
    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>