<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HCMS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    body {}

    @keyframes moveLeft {
        0% {
            opacity: 0;
            transform: translateX(300px)
        }

        25% {
            opacity: 1
        }

        50% {}

        75% {}

        100% {}
    }

    .ctitle {
        animation: moveLeft 2s ease-out;
    }

    .cover {
        height: 90vh;
        position: relative;
        background-repeat: none;
        background-size: 100%;
        background-position: top;
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%)
    }

    #title {
        color: rgba(41, 43, 36, 0.562);
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
        left: 40%;
        top: 50%;
        position: absolute;
    }
</style>

<body>
    <div class="container">
        {{>publicnav}}
        <center>
            <h3 class="ctitle" style="color:#fff">Clinic Management System</h3>
        </center>
        <div class="col-md-10 col-md-offset-1">
            <center>
                <h4>Available Bed:</h4>
            </center>
            <div>
                HCMS is now 100 beds with one of the largest Intensive Care Units (ICUs), most advanced 5 Operation
                Theaters, more than 50 consultants and manpower of nearly 150. Hospital attends to around 300
                In-patients and Out-patients daily.
                Here 3 types of bed available for patient:
            </div>
            <h4>Premier cabin</h4>
            <img src="" alt="bed image">
            <h4>Premier cabin</h4>
            <img src="" alt="bed image">
            <h4>Premier cabin</h4>
            <img src="" alt="bed image">
        </div>
    </div>

</body>

</html>