<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HCMS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    body {}

    @keyframes moveLeft {
        0% {
            opacity: 0;
            transform: translateX(300px)
        }

        25% {
            opacity: 1
        }

        50% {}

        75% {}

        100% {}
    }

    .ctitle {
        animation: moveLeft 2s ease-out;
    }

    .cover {
        height: 90vh;
        position: relative;
        background-repeat: none;
        background-size: 100%;
        background-position: top;
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%)
    }

    #title {
        color: rgba(41, 43, 36, 0.562);
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
        left: 40%;
        top: 50%;
        position: absolute;
    }
</style>

<body>
    <div class="container">
        {{>publicnav}}
        <center>
            <h3 class="ctitle" style="color:#fff">Clinic Management System</h3>
        </center>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h4>Contact us:</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Hamdard Clinic Management System</li>
                        <li class="list-group-item">Hamdard Nagar</li>
                        <li class="list-group-item">Gazariya, Munsigonj, Bangladesh</li>
                        <li class="list-group-item">Phone: 01670790971</li>
                        <li class="list-group-item">Email: hcms@gmail.com</li>
                    </ul>
                </div>
                <div>
                    <h4>IMPORTANT CONTACT NUMBERS:</h4>
                    <ul class="list-group">
                        <li class="list-group-item">Emergency: 01970790971</li>
                        <li class="list-group-item">Admission Department: 01770790971</li>
                        <li class="list-group-item">Appointment: 01370790971</li>
                        <li class="list-group-item">Ambulance: 01870790971</li>
                        <li class="list-group-item">Diagnostics: 01570790971</li>
                    </ul>
                </div>

            </div>
            <div class="col-md-6">
                <h4>Feedback and Query</h4>
                <form action="">
                    <label for="">Type Of Query</label>
                    <select name="" id="" class="form-control">
                        <option value="">Dammy</option>
                        <option value="">Dammy</option>
                        <option value="">Dammy</option>
                        <option value="">Dammy</option>
                        <option value="">Dammy</option>
                    </select>
                    <label for="">Full Name</label>
                    <input required="" type="text" class="form-control" placeholder="Entr the full name">
                    <label for="">Contact No</label>
                    <input required="" type="text" class="form-control" placeholder="Entr the contact no">
                    <label for="">Email</label>
                    <input required="" type="text" class="form-control" placeholder="Entr the Email">
                    <input type="submit" class="btn btn-success" value="Send Feedback">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

            </div>
        </div>

    </div>

</body>

</html>