<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HCMS</title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    body{
    }
    @keyframes moveLeft {
    0%   {opacity:0;transform: translateX(300px)}
    25%  {opacity: 1}
    50%  {}
    75%  {}
    100% {}
}
.ctitle{
    animation: moveLeft 2s ease-out;
}
.cover{
    height:90vh;
    position: relative;    
     background-repeat: none;
     background-size: 100%;
     background-position: top;
    clip-path: polygon(0 0,100% 0,100% 85vh,0 100%)
}
#title{
    color:rgba(41, 43, 36, 0.562);
    font-size:30px;
    font-weight: bold;
    letter-spacing: 1px;
    left:40%;
    top:50%;
    position: absolute;
}
</style>
<body >
    <div class="container">
        {{>publicnav}}
        <center>
            <h3 class="ctitle" style="color:#fff">Clinic Management System</h3>
        </center>
         <div class="col-md-4">

               <span class="text text-danger">
Vision:

We have built an institution which matches the highest standards of healthcare delivery across the world, where care is provided to patients at an affordable cost. HCMS will offer not only the best technical facilities, but also combine the jewel of traditional medicine, and create a medicine which is better than the current medicine. To deliver International Class healthcare with a total service focus, by creating an institution committed to the highest standards of medical & service excellence, patient care, scientific knowledge and medical education.

               </span>
           </div>
       
    </div>
   
</body>

</html>