<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CMS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    body {}

    @keyframes moveLeft {
        0% {
            opacity: 0;
            transform: translateX(300px)
        }

        25% {
            opacity: 1
        }

        50% {}

        75% {}

        100% {}
    }

    .ctitle {
        animation: moveLeft 2s ease-out;
        font-weight: bold;
        font-size: 35px;
    }

    .cover {
        //change
        height: 90vh;
        position: relative;
        background-repeat: none;
        background-size: 100%;
        background-position: top;
        clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%)
    }

    #title {
        color: rgba(9, 38, 58, 0.068);
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 1px;
        left: 50%;
        top: 40%;
        position: absolute;
    }
</style>

<body>
    <div class="cover">

        {{>publicnav}}
        <center>
            <h3 class="ctitle" style="color:rgb(15, 89, 185)">Clinic Management System</h3>
        </center>
        <div id="title">

        </div>
    </div>
    </div>
</body>
<script>
    x = 0;
    title = ["We Provide 100% Satisfaction of Patients", " ", " ", " "];
    //change height array
    height = ["80vh", "70vh", "85vh", "90vh"]
    window.setInterval(function () {
        x = (x + 1) % 4;
        document.getElementById("title").innerHTML = title[x];
        document.getElementsByClassName('cover')[0].style.height = height[x];
        document.getElementsByClassName('cover')[0].style.background = `url(images/coverimage/${x + 1}.jpg)`;
    }, 3000)
</script>

</html>