<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doctorlist</title>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body >

    <div class="container">
        {{>publicnav}}
   
        
        <h4>
            <center>
                Already regigestered? Please Sign In
            </center>
            <center>
                <a href="/Sign In" class="btn btn-success">
                    Sign In
                </a>

            </center>
        </h4>
        <h4>
            <center>
                Not regigestered? Please SignUp to request for an appointment
            </center>
            <center>
                <a href="/SignUp" class="btn btn-info">
                    SignUp
                </a>

            </center>
        </h4>
    </div>


</body>

</html>